{% extends "layout.html.twig" %}
{% form_theme attestation_form 'bootstrap_4_layout.html.twig' %}
{% block main_content %}
    <h2>Rappel de vos informations</h2>
    <ul>
        <li>Prénom : {{ user_data.firstname }}</li>
        <li>Nom : {{ user_data.lastname }}</li>
        <li>Date de naissance : {{ user_data.birthday }}</li>
        <li>Ville de naissance : {{ user_data.birthcity }}</li>
        <li>Adresse : {{ user_data.street }} {{ user_data.postalCode }} {{ user_data.city }}</li>
    </ul>

    <p><a href="{{ path('index') }}">Modifier vos informations et votre URL personnalisée</a></p>

    {{ form(attestation_form) }}
{% endblock %}
